* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background: #03a6d4;
  font-family: Arial, Helvetica, sans-serif;
}

.container-body {
  justify-items: center;
  margin: 60px 20px;
}

.container-content {
  background-color: #0028f3;
}

.container-content h4 {
  margin-top: 90px;
  text-align: left;
  align-items: center;
}

.container-form {
  background-color: #f2f3f3;
}

img {
  width: 100%;
}
